{% if latest_question_list %}
  <ul>
  {% for question in latest_question_list %}
    <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
    {% comment %} hard coding {% endcomment %}
    {% comment %} <li><a href="/polls/{{ question.id }}">{{ question.question_text }}</a></li> {% endcomment %}
  {% endfor %}
  </ul>
{% else %}
  <p>No questions are available.</p>

{% endif %}